<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>
   <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="flex flex-col min-h-screen bg-blue-50 font-sans antialised">
  <!-- nav bar -->
    <nav class="bg-green-300 p-4 text-black flex justify-between">
    <div>
      <h1 class="text-2xl font-bold">
        Резюме видео с AI
      </h1>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-end
            space-y-2 sm:space-y-0 sm:space-x-4">
        <div class="transition-transform transform hover:scale-105">
             <a href="/" class="text-black hover:text-green-800">Привет, {{user.username}}!</a>
        </div>
         <div class="transition-transform transform hover:scale-105">
             <a href="{% url 'history' %}" class="text-black hover:text-green-800">Ваши текста</a>
        </div>
        <div class="transition-transform transform hover:scale-105">
        <a href="{% url 'logout' %}" class=" p-1 text-black  hover:text-green-800">Выйти</a>
      </div>
    </div>
  </nav>
  <br>

  <!-- main   -->
  <div class="container mx-auto mt-10 px-4 sm:px-0 ">
    <div class="bg-green-50 p-6 shadow-md rounded-lg max-w-3xl mx-auto">
        <!-- all posts section -->
         <section>
            <h2 class="text-2xl font-semibold mb-4">Ваша история</h2>
            <div class="space-y-4">
              {% for item in summary_items reversed %}  
              <div class="flex flex-col "></div>
             <a href="{% url 'history-item' item.id %}">
              
              <div class="transition-transform transform hover:scale-105">
                <div class="border border-gray-400 p-4 rounded-lg ">
                  <h3 class="text-lg font-semibold">{{item.youtube_title}}</h3>
                  <p>{{item.generated_content|truncatechars:80}}</p>
                </div>
              </div>
            
              </a>
              {% endfor %} 
                </div>
              <!-- repeat -->
            </div>
         </section>
    </div>
  </div>

</body>
  <footer class="p-2 text-center mt-10">
    Opensourced by <a href="https://github.com/RdotF" class="font-semibold text-green-600 hover:underline">RdotF</a>
  </footer>
</html>